.thumbnails {
	display: flex;
	width: 100%;
	height: 100%;
}

/* -------------여기서부터 image_upload_block--------------- */
.image_upload_block {
	width: 50%;
	text-align: center;
	padding-top: 40px;
}

.image_upload_square_box {
	border: black 2px solid;
	position: relative;
	width: 80%;
	margin: 0 auto;
	max-width: 350px;
	cursor: pointer;
}

.image_upload_square_box::after {
	padding-bottom: 100%;
	display: block;
	content: "";
}

.image_upload_button {
	border: black 2px solid;
	display: inline-block;
	padding: 5px;
	margin: 10px;
	cursor: pointer;
}

.image_upload_button:hover {
	background-color: gray;
}

.image_upload_button img {
	width: 20px;
	height: 20px;
}

.image_upload_square_content {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* ------------여기서부터 image_description_block -------------------*/
.image_description_block {
	border: black 2px solid;
	width: 20%;
	min-width: 130px;
	padding: 10%;
}

.image_description {
	height: 60%;
}

.image_description_block select {
	width: 65%;
}

.edit_register_box {
	text-align: center;
}

.image_register_button {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	border: 2px solid black;
}

.image_register_button:hover {
	background-color: gray;
}